@model Transportation.Core.DTOs.ContractDTO.CargoAnnounceViewModel

@{
    ViewData["Title"] = "ثبت اعلام بار";
}

<h1>ثبت اعلام بار</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateCargoAnnounce">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContractorId" value="@ViewBag.ContractorId" />
            <div class="form-group">
                <label asp-for="CargoType" class="control-label"></label>
                <input asp-for="CargoType" class="form-control" />
                <span asp-validation-for="CargoType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageType" class="control-label"></label>
                <input asp-for="PackageType" class="form-control" />
                <span asp-validation-for="PackageType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoWeight" class="control-label"></label>
                <input asp-for="CargoWeight" class="form-control" />
                <span asp-validation-for="CargoWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beginning" class="control-label"></label>
                <input asp-for="Beginning" class="form-control" />
                <span asp-validation-for="Beginning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverFee" class="control-label"></label>
                <input asp-for="DriverFee" class="form-control" />
                <span asp-validation-for="DriverFee" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select id="selectTrucks" class="selectpicker form-control" multiple data-live-search="true" asp-for="TruckTypes" asp-items="@(ViewData["Types"] as SelectList)"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Head
{
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

@section Scripts {
    @{

    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
    $(function () {
            CKEDITOR.replace('Description', {
        customConfig: '/js/Config.js'
    });
    });
            ('#selectTrucks').selectpicker();



</script>
}
