@page
@model Transportation.Web.Pages.Admin.Users.CreateUserModel
@{
}

<h1>ثبت کاربر جدید</h1>

<hr />

<div class="alert alert-danger">
    <h4>توجه داشته باشید که پس از کلیک بر روی هر دکمه فرم مربوط به همان نوع کاربر برای شما باز می شود.</h4>
</div>
<hr />
<div class="col-md-12">
    <div class="col-md-6 text-center">
        <h2>برای ثبت کاربر با عنوان راننده روی دکمه ی زیر کلیک نمایید.</h2>
        <a class="btn btn-success btn-lg" onclick="CreateDriver()">ثبت راننده</a>
        </div>
        <div class="col-md-6 text-center">
        <h2>برای ثبت کاربر با عنوان شرکت روی دکمه ی زیر کلیک نمایید.</h2>
        <a class="btn btn-success btn-lg" onclick="CreateCompany()">ثبت شرکت</a>
        </div>
</div>

<!--modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>


@section Scripts
{
<script>
            function CreateDriver(){
            var url = "https://localhost:44377/Admin/Users/Drivers/CreateDriver/";
            console.log(url);
          $('#modalBody').load(url,function(){
      $('#exampleModalCenter').modal('toggle');
        });
        document.getElementById('exampleModalLongTitle').innerHTML = "ثبت راننده جدید";
            }


                    function CreateCompany(){
            var url = "https://localhost:44377/Admin/Users/Companies/CreateCompany/";
            console.log(url);
          $('#modalBody').load(url,function(){
      $('#exampleModalCenter').modal('toggle');
        });
        document.getElementById('exampleModalLongTitle').innerHTML = "ثبت شرکت جدید";
            }
</script>
}