@{
    ViewData["Title"] = "خانه";
}
<section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="/assets/img/dreamstime_xxl_61432246.jpg?h=43689c2169f99ca0532aff3060fa1878">
                <div class="text-center intro-text p-5 rounded bg-faded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper" style="font-family: 'B Nazanin';">شرکت حمل و نقل سجاد ساری</span><span class="section-heading-lower" style="font-family: 'B Nazanin';font-weight: bold;font-size: 45px;">با بیش از سی سال خدمت</span></h2>
                    <p class="mb-3" style="font-family: 'B Nazanin';text-align: center;font-weight: bold;font-size: 19px;">شرکت حمل و نقل سجاد مفتخر بوده و هست که توانسته با بیش از سی سال سابقه همواره&nbsp; در جهت رشد و پیشرفت کشور مقدس جمهوری اسلامی ایران قدم بردارد ؛<br><br>&nbsp;از تهیه انواع کامیون جهت بارگیری و صدور بارنامه دولتی به همراه بیمه نامه معتبر و قابل پیگیری با سیستم کاری شفاف و&nbsp; روشن در پیرو تسهیل شرایط رانندگان مشرف کشور مقدسمان ما همواره ، یکصدا و یک گام در کنار شما خواهیم بود؛</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" id="last-notice" href="https://rasm.io/company/10861805385/%D8%B4%D8%B1%DA%A9%D8%AA%20%D8%AD%D9%85%D9%84%20%D9%88%20%D9%86%D9%82%D9%84%20%D8%B3%D8%AC%D8%A7%D8%AF%20%D8%B3%D8%A7%D8%B1%DB%8C/" style="font-family: 'B Nazanin';font-weight: bold;font-size: 19.8px;text-align: center;">اخرین اگهی های رسمی</a></div>
                </div>
            </div>
        </div>
    </section>
    <div style="height: 22px;"></div>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper" style="font-family: 'B Nazanin';font-weight: bold;">&nbsp;پرداختی به مسئله&nbsp;</span><span class="section-heading-lower" style="font-family: 'B Nazanin';font-weight: bold;">قوانین مرتبط با حمل و نقل داخلی</span></h2>
                        <p class="mb-0" style="font-family: 'B Nazanin';font-weight: bold;">محل بارگیری می‌تواند بندر، گمرک، انبار صاحب کالا، ایستگاه راه‌آهن، امکنه شرکت یا موسسه حمل و نقل یا محل مورد نظر صاحب کالا با حفظ جمیع شرایط و ضوابط حوزه فعالیت جغرافیائی شرکت یا موسسه حمل و نقل از نظر صدور بارنامه باشد<br></p>
                        <div style="height: 20px;"></div>
                        <p class="mb-0" style="font-family: 'B Nazanin';font-weight: bold;">&nbsp; محل تخلیه می‌تواند بندر، گمرک، انبار صاحب کالا ،ایستگاه راه‌آهن، امکنه شرکت یا موسسه حمل و نقل (بعنوان بارانداز) یا محل مورد نظر صاحب کالا باشد. حمل بار بصورت «زیر باری» و «رو باری» مشروط به رعایت مقررات توزین و ظرفیت مجاز وسیله نقلیه و صدور اسناد لازم حمل بلامانع است. اخذ مجوز عبور (پروانه عبور) برای حمل محمولات ترافیکی موجب عدم بکارگیری بارنامه جهت حمل محموله نخواهد بود.<br></p>
                        <div style="height: 20px;"></div>
                        <p class="mb-0" style="font-family: 'B Nazanin';font-weight: bold;">&nbsp; شرکتها و مؤسسات مجاز حمل و نقل کالا می‌توانند جهت حمل محمولات از نرخ توافقی با صاحبان کالا حسب قرارداد منعقده استفاده نمایند. در مورد بارهای حجیم و سبک در صورتیکه ظرفیت کامیون از نظر طول و عرض و ارتفاع تکمیل گردد مشروط بر آنکه بار دیگری همراه آن حمل نگردد، صرفنظر از وزن بار، ظرفیت کامل کامیون ملاک پرداخت کرایه حمل و بارنامه دولتی و هوشمند می باشد؛<br></p>
                        <div style="height: 20px;"></div>
                        <p class="mb-0" style="font-family: 'B Nazanin';font-weight: bold;">&nbsp; کارمزد از طریق راننده یا صاحب کامیون به شرکت یا موسسه حمل و نقل در ازاء خدمات ارائه شده پرداخت می‌گردد. پرداخت حق تمبر بارنامه ویژه خرده‌بار و عمده‌بار به عهده شرکت یا موسسه حمل و نقل می‌باشد. حق بیمه تامین اجتماعی به عهده راننده یا مالک کامیون است که در زمان صدور بارنامه توسط شرکت و یا موسسه حمل و نقل و بر اساس مقررات و دستورالعملهای مربوطه به مراجع ذیربط پرداخت می‌گردد؛<br></p>
                        <div style="height: 20px;"></div>
                        <p class="mb-0" style="font-family: 'B Nazanin';font-weight: bold;">&nbsp; هزینه پایانه‌های عمومی شامل پارکینگ، برگ نوبت‌دهی و حواله بارگیری و تمدید و تجدید آن بر عهده راننده یا مالک کامیون بوده و پرداخت هزینه‌های مربوط به عوارض شهرداری، هلال احمر و غیره و همچنین هزینه‌های مربوط به دیماند، باسکول، جرثقیل، لیفتراک و تخلیه و بارگیری و غیره مربوط صاحب کالاست و در هر صورت شرکت یا موسسه حمل و نقل موظف به تأمین و یا وصول و ذکر آن در بارنامه و عنداللزوم پرداخت آن به مراجع مربوطه می‌باشد؛<br></p>
                        <div style="height: 20px;"></div>
                        <p class="mb-0" style="font-family: 'B Nazanin';font-weight: bold;">&nbsp;&nbsp;دریافت هرگونه وجهی تحت عنوان پشت بارنامه، بارچینی، دالانداری انعام، گاراژداری، انبارداری از جانب مؤسسات و شرکتهای حمل و نقل و همچنین رانندگان ممنوع است. مبنای پرداخت حق توقف بدواً توافق طرفین (شرکت حمل و نقل راننده) می‌باشد. در غیر اینصورت مفاد این شرایط ملاک عمل خواهد بود؛<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
