@{
    ViewData["Title"] = "قوانین و مقررات";
}

<section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title">
                    <div class="d-flex me-auto bg-faded p-5 rounded" style="background: rgba(255,255,255,0.67);">
                        <h5 class="section-heading mb-0"><span class="section-heading-upper"><strong>Comprehensive rules of corporate contracting.</strong><br></span><span class="section-heading-lower" style="text-align: center;font-family: 'B Nazanin';font-weight: bold;">بخشی از منابع عقود پیمانکاری شرکتی</span></h5>
                    </div>
                </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="/assets/img/termsandcondition.png?h=3512a9c1f6e7c6fed54076bedde58312" style="width: 600px;height: 200px;">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0" style="font-weight: bold;text-align: right;font-family: 'B Nazanin';">پیمانکار کیست؟ -<br><br>پیمانکار شخصی است حقیقی یا حقوقی که یک طرف امضای قرارداد (پیمان) با کارفرما است&nbsp; و نسبت به اجرای درست موضوع قرارداد متعهد است. در پروژه‌های پیمانکاری که انواع مختلفی <br>دارد پیمانکار می‌تواند جانشینی قانونی به جای خود برگزیند که البته این شخص و یا جانشین هم حکم و وظایف خود پیمانکار را دارا می‌باشد.<br><br>قراردادهای پیمانکاری شرایطی هم دارند:<br><br>شرایط عمومی:<br>&nbsp;شرایطی است که در همه قراردادهای پیمانکاری عمومیت داشته و لازم‌الاجرا است. شرایط عمومی حاکم بر قراردادهای پیمانکاری بدون در نظرگرفتن موضوع قرارداد تغییر ناپذیر است و وظایف هر کدام از طرفین در آن مشخص و معین است.<br><br>شرایط خصوصی:<br>شرایط خصوصی&nbsp;قراردادها بر خلاف شرایط عمومی قابل تغییر است و با توجه به موضوع نمونه قرارداد تنظیم می‌شود. مثلاً شرایط خصوصی نمونه قرارداد پیمانکار تاسیساتی با شرایط خصوصی نمونه قرارداد پیمانکاری آسفالت خیابان با هم متفاوتند.<br><br>شرایط خصوصی&nbsp;قراردادها بر خلاف شرایط عمومی قابل تغییر است و با توجه به موضوع نمونه قرارداد تنظیم می‌شود. مثلاً شرایط خصوصی نمونه قرارداد پیمانکار تاسیساتی با شرایط خصوصی نمونه قرارداد پیمانکاری آسفالت خیابان با هم متفاوتند.<br><br>بیمه قرارداد پیمانکاری چیست؟+<br><br>بحث بیمه در قرارداد پیمانکاری مانند بحث بیمه در بقیه مشاغل حائز اهمیت است، زیرا بر اساس قانون، کارفرما با استخدام و به کارگیری نیروی کار باید حق بیمه آنها را پرداخت کند، این حق بیمه بر اساس میزان حقوق و دستمزد کارگر است که از کارفرما دریافت می‌کند.<br><br>اما در مورد حق بیمه در قراردادهای پیمانکاری قضیه فرق می‌کند در این قراردادها حق بیمه بر اساس میزان حق‌الزحمه‌ای است که در قرارداد قید شده و انواعی دارد که رعایت آن از جاتب کارفرمایان لازم و ضروری است.<br><br>ماده ۳۸ قانون تامین اجتماعی جهت یکپارچه سازی امور بیمه‌ای، قراردادهای پیمانکاری را به سه دسته تقسیم کرده است.<br><br><br></p>
                    <section class="mb-0" stlye="font-weight: bold;text-align: right;font-family: 'B Nazanin';" style="text-align: right;font-family: 'B Nazanin';"><a class="mb-0" href="https://www.gisoom.com/book/1981200/%DA%A9%D8%AA%D8%A7%D8%A8-%D9%82%D9%88%D8%A7%D9%86%DB%8C%D9%86-%D9%88-%D9%85%D9%82%D8%B1%D8%B1%D8%A7%D8%AA-%D9%82%D8%B1%D8%A7%D8%B1%D8%AF%D8%A7%D8%AF%D9%87%D8%A7%DB%8C-%D9%BE%DB%8C%D9%85%D8%A7%D9%86%DA%A9%D8%A7%D8%B1%DB%8C-%D9%81%D9%87%D8%B1%D8%B3%D8%AA-%D8%A8%D9%87%D8%A7%DB%8C%DB%8C/" style="font-weight: bold;text-align: right;font-family: 'B Nazanin';">کتاب قوانین و مقررات قرارداد های پیمانکاری&nbsp;</a></section>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title">
                    <div class="d-flex ms-auto bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0"><span class="section-heading-upper"><strong>OBLIGATIONS IN COMMANDS;</strong><br></span><span class="section-heading-lower" style="text-align: center;font-family: 'B Nazanin';font-weight: bold;">تعهدات در دستورات</span></h2>
                    </div>
                </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="/assets/img/تعهدات%20در%20دستورات.png?h=7a9e01c126fcb13bab3fe56f343cb0d3" style="width: 600px;height: 200px;">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0" style="font-weight: bold;text-align: right;font-family: 'B Nazanin';">:تعهد به سه شکل است:&nbsp;<br>انتقال مال<br>انجام عمل&nbsp;<br>خودداری از انجام عمل<br><br>بار اثبات انجام تعهد در انتقال مال بر عهده ی متعهد است و باید اثبات کند که تعهد انجام شده در تعهد انجام عمل اگر تعهد به نتیجه باشد بار اثبات انجام تعهد به عهده ی متعهد است و اگر تعهد به وسیله باشد بار اثبات نقض عهد به عهده‌ی متعهد له است. اگر موضوع تعهد خودداری از انجام عمل باشد بر اساس اصل عدم یعنی یه کاری نباید انجام می شده که بار اثبات این موضوع بر عهده متعهد له است.&nbsp;<br>شرط بعد این است که در واقع خسارتی وارد شده باشد&nbsp;<br>بار اثبات خسارت بر عهده‌ی زیان دیده است اما استثنائاتی هم وجود دارد که در این صورت نیاز به اثبات خسارت و میزان خسارت نیست&nbsp;<br>اولین استثنا وجه التزام است وجه التزام یعنی در قرارداد مبلغ مقطوعی قید شده باشد به عنوان خسارت که اگر نقض عهد صورت گرفت باید وجه التزام پرداخت شود و مبنای قراردادی دارد و نیاز به اثبات ندارد<br>دومین استثنا بحث&nbsp;<a href="https://www.didehbaan.com/Detail/ArticleId/164/%D9%85%D8%A7%D8%AF%D9%87-522-%D9%82%D8%A7%D9%86%D9%88%D9%86-%D8%A2%DB%8C%DB%8C%D9%86-%D8%AF%D8%A7%D8%AF%D8%B1%D8%B3%DB%8C-%D8%AF%D8%A7%D8%AF%DA%AF%D8%A7%D9%87%D9%87%D8%A7%DB%8C-%D8%B9%D9%85%D9%88%D9%85%DB%8C-%D9%88-%D8%A7%D9%86%D9%82%D9%84%D8%A7%D8%A8-%D8%AF%D8%B1-%D8%A7%D9%85%D9%88%D8%B1-%D9%85%D8%AF%D9%86%DB%8C"><strong><span style="color: rgb(52, 58, 64);">ماده ۵۲۲ قانون آیین دادرسی مدنی</span></strong></a>&nbsp;[1] است که خسارت تاخیر تادیه که از وجه رایج گرفته می‌شود و طبق نرخ تورم بانک مرکزی مبلغ مشخصی محاسبه مطالبه می شود<br>سومین استثنا بحث دیه است که جنبه مقطوع دارد که البته اصلا دیه در بحث خسارت قراردادی وارد نمی شود<br>شرط بعدی احراز رابطه سببیت بین نقض عهد و خسارات وارده است که این احراز رابطه بر عهده دادگاه است<br> در آخر هم که باید در متن قرارداد مطالبه خسارت تصریح شده باشد که اگر نشده باشد عرف یا قانون باید تصریح کرده باشند<br><br>مدارک لازم برای تعهد محضری<br><br>یکی از اساسی ترین و مهم ترین مدارک لازم برای تعهد محضری ، مدارک هویتی متعهد و متعهد له است . به دلیل اینکه در تعهد محضری ، باید مشخصات کامل آنها ، از قبیل نام و نام خانوادگی ، شماره شناسنامه ، شماره ملی و محل صدور آن ، درج شده تا از بروز اشتباه در خصوص طرفین تعهد ، جلوگیری شود .&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section"></section>
    