
@{
    ViewData["Title"] = "ثبت نام موفق";
}

<h2 class="text-center">
    حساب کاربری شما با موفقیت ثبت شد. برای وارد شدن به سایت ابتدا باید توسط ادمین های ما تایید شوید. نتیجه از طریق ایمیل به شما ارسال خواهد شد
</h2>

