@page
@model Transportation.Web.Pages.Admin.Users.Contractors.PendingUsersModel
@{
    ViewData["Title"] = "تایید متصدیان";
}
<h1>
    لیست متصدیان در انتظار تایید
</h1>
<hr />


<table class="table table-striped table-bordered table-hover dataTable no-footer">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>ایمیل</th>
            <th>تاریخ ساخت</th>
            <th>نوع کاربر</th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.RegisterDate.PersianDateTime()</td>
                <td>
                        <p>متصدی</p>
                </td>
                <td>
                        <a class="btn btn-warning" onclick="Approve(@user.UserId)">
                            نمایش بیشتر
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
    </div>
  </div>
</div>


@section Scripts
    {
<script>
function Approve(id){
           console.log(id);
            var url = "https://localhost:44341/DashBoard/Users/Contractors/ApproveUser/" + id;
             console.log(url);
                  $('#modalBody').load(url,function(){
                 $('#exampleModalCenter').modal('toggle');
                 });
    document.getElementById("exampleModalLabel").innerHTML = "راننده شماره " + id;
}
</script>
}