@{
    ViewData["Title"] = "ثبت نام";
}

<h1 style="text-align:center;">ثبت نام</h1>
<div class="col-md-12 row">

    <div class="col-md-6">
        <h2 style="text-align:center;">
            برای ثبت نام به عنوان یک راننده و دریافت فرم روی دکمه ی زیر کلیک کنید
        </h2>
        <div class="text-center mt-4">
            <a class="btn btn-lg btn-outline-success" href="/Register/Driver">
                ثبت نام راننده
            </a>
        </div>
    </div>

    <div class="col-md-6">
        <h2 style="text-align:center;">
            برای ثبت نام به عنوان یک متصدی و دریافت فرم روی دکمه ی زیر کلیک کنید
        </h2>
        <div class="text-center mt-4">
            <a class="btn btn-lg btn-outline-success" href="/Register/Contractor">
                ثبت نام متصدی
            </a>
        </div>
    </div>

</div>
