@model Transportation.Core.DTOs.AccountDTO.ContractorRegisterViewModel

@{
    ViewData["Title"] = "ثبت نام متصدی";
}

<h1 class="text-center">ثبت نام متصدی</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="RegisterContractor" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalCode" class="control-label"></label>
                <input asp-for="NationalCode" class="form-control" />
                <span asp-validation-for="NationalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationCard" class="control-label"></label>
                <input type="file" asp-for="IdentificationCard" class="form-control" />
                <span asp-validation-for="IdentificationCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacePicture" class="control-label"></label>
                <input type="file" asp-for="FacePicture" class="form-control" />
                <span asp-validation-for="FacePicture" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت نام" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{

    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
}
